.card-title{
    background-color: #3700B3;
    color: white;
    padding: 0%;
}
ul {
    text-align: center;
    list-style-type: none;
    margin: 20px auto;
    padding: 0;
}

.follow-name{
    font-family: Rubik, sans-serif;
    padding: 10px;
    font-size: 20px;
}
.follow-name:hover{
    background-color: #bb86FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
h3{
    font-family: Rubik, sans-serif;
    font-size: 25px;
    padding: 10px;
    letter-spacing: 1px;
}