::ng-deep .mat-card{
    border: 2px solid #BB86FC;
    border-bottom: 2px solid #BB86FC;
}
.card-title{
    /* background-color: #3700B3; */
    /* color: white; */
    padding: 0%;
    /* border: 5px solid #3700B3; */
    border-bottom: 1px solid #E1D309;
}
ul{
    text-align: center;
    list-style-type: none;
    margin: 20px auto;
    padding: 0;
}
.follow-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.follow-name:hover{
    background-color: #bb86FC;
    color: white;
    font-weight: bold;
}
h3{
    font-family: Rubik, sans-serif;
    font-size: 25px;
    padding: 10px;
    letter-spacing: 1px;
}
/* .box {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #3700B3;
}

.card {
    text-align: center;
    padding: 0%;
    border: 5px solid #3700B3;
    border-bottom: 10px solid #3700B3;
    box-shadow: 5px 5px 5px grey;
}

.card h1 {
    font-size: 25px;
    background-color: #3700B3;
    border-bottom: 5px solid #3700B3;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
}

.card body {
    text-align: center;
    padding-bottom: 0%;
}

.card td{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    margin-bottom: 0px;
    margin-top: 0px;
}

.card td:hover{
    background-color: #bb86FC;
    text-align: center;
    color: white;
    font-weight: bold;
} */

