<mat-card>
    <mat-card-title class="card-title">
        <h3>
            Followed Users
        </h3>
    </mat-card-title>
    <mat-card-content>
        <ul *ngFor="let follower of followedList">
            <li routerLink="/comment/{{follower.followingUserId}}" class="follow-name">{{follower.followingUserName}}</li>
        </ul>
        <ul *ngIf="(followedList == undefined || followedList.length == 0)">
            <li>No Followers!</li>
        </ul>
    </mat-card-content>
</mat-card>

