<div class="container">
    <h6>Create new group</h6>
    <div class="card w-75">
        <div class="card-body">
            <form #groupForm="ngForm">

                <!-- {{groupForm.value | json}} -->
                <div class="form-group">
                    <label>Group Name</label>
                    <input type="text" class="form-control" name="Group Name" ngModel>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" name="Description" ngModel>
                </div>
                <input class="btn btn-primary rounded-pill" type="submit" value="Create">

            </form>
        </div>
    </div>
</div>