.card-title{
    /* background-color: #3700B3; */
<<<<<<< HEAD
    /* color: white; */
    padding: 0%;
    /* border: 5px solid #3700B3; */
    border-bottom: 1px solid #E1D309;
}
ul{
    text-align: center;
    list-style-type: none;
    margin: 20px auto;
    padding: 0;
}
.activity-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.activity-name:hover{
    background-color: #bb86FC;
    color: white;
    font-weight: bold;
}
h3{
    font-family: Rubik, sans-serif;
    font-size: 25px;
    padding: 10px;
    letter-spacing: 1px;
}
/* .box {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #3700B3;
}

.card {
    text-align: center;
    padding: 0%;
    border: 5px solid #3700B3;
    border-bottom: 10px solid #3700B3;
    box-shadow: 5px 5px 5px grey;
}

.card h1 {
    font-size: 25px;
    background-color: #3700B3;
    border-bottom: 5px solid #3700B3;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
=======
    padding: 0%;
    border-bottom: solid 1px #e1d309;
>>>>>>> efb845a34793f011fa7a7229b45cc9145887fa01
}
ul {
    text-align: center;
    list-style-type: none;
    margin: 20px auto;
    padding: 0;
}

.activity-name{
    font-family: Rubik, sans-serif;
    padding: 10px;
    font-size: 20px;
}
<<<<<<< HEAD

.card td:hover{
    background-color: #BB86FC;
    text-align: center;
    color: white;
    font-weight: bold;
} */

=======
.activity-name:hover{
    background-color: #bb86FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
h3{
    font-family: Rubik, sans-serif;
    font-size: 25px;
    padding: 10px;
    letter-spacing: 1px;
}
>>>>>>> efb845a34793f011fa7a7229b45cc9145887fa01
