<div class="container-fluid">
    <div class="row">
        <div class="col-3" id="left">
        </div>
        <div class="row col-6" id="center">

            <p>groups totally works! (but not really, we need to still add a lot)</p>
            
            <p class = "Group">
            <button class="btn btn-primary" id="create-btn" role="button" style="max-width: 120px; padding: 10px; align-items: right;">Create Group</button>
            </p>
            
            <!-- <a class="btn btn-primary" id="create-btn" (click)="goToCreatePost()" role="button"><em
                class="fa fa-plus"></em> Create
                Post</a> -->        
            </div>
            <div class="col-3" id="right">
            </div>
    </div>
</div>