<div class="container-fluid">

    <div class="row">
        
        <div class="col-3" id="left">
        </div>
        <div class="row col-6" id="center">

            
            <p class = "Group">
                <button class="btn btn-primary" id="create-btn" role="button" (click)="createNewGroups()" style="max-width: 120px; padding: 10px; align-items: right;"><em class="fa fa-plus"></em> Create Group</button>
            </p>
            
            <h1>My Groups</h1>
                <div class="all-feed">
                        <div class="container feed" id="root" *ngFor="let userGroup of userGroups">
                            <div class="row">
                                <h2>{{ userGroup.groupName }}</h2>
                            <!-- This is wrongfully taking from GroupMembers -->
                            </div>
                                <button class="btn btn-primary"  (click)="goToGroup(userGroup.groupId)" >Blast off!</button>
                            </div>
                </div>

            <h1>Featured Groups</h1>
            <div class="container feed" id="root" *ngFor="let group of allGroups">
                <div class="row">
                    <h2>{{ group.groupName }}</h2>
                </div>
                    <h4>{{group.message}}</h4>
                            <div>
                                <button class="btn btn-primary" (click)="joinGroup(group.id, group.groupName)" >Join!</button>
                            </div>
            </div>      

            <div class="col-3" id="right">
            </div>
        </div>
    </div>
</div>