#center {
    padding-top: 20px;
    margin: 0 auto;
}

.btn-primary {
    color: #fdf4f7;
    background-color: #BB86FC;
    border-color: #BB86FC;
    max-height: 38px;
    text-align: center;
}

.btn-primary:hover {
    color: #fdf4f7;
    background-color: #3700B3;
    border-color: #3700B3;
}

.btn-outline-primary {
    color: #BB86FC;
    border-color: #BB86FC;
}

.btn-outline-primary:hover {
    color: #fdf4f7;
    background-color: #3700B3;
    border-color: #3700B3;
}

.btn-outline-primary, .btn-outline-danger{
    font-size: 12px;
}

span {
    font-size: 12px;
    font-weight: bold;
}

span:hover {
    cursor: pointer;
    text-decoration: underline;
}

p {
    font-size: 12px;
}

hr {
    margin: 20px 0;
}

h6{
    font-size: 20px;
    margin: 10px 0 20px 0;
}

.container-comment {
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 5px;
    border-bottom: solid 1px rgb(100, 100, 100);
}

.allComments {
    margin-bottom: 3vh;
}

#comments {
    border-radius: 5px;
    padding: 20px 10px;
    margin: 20px auto;
}

.allComments:empty {
    border: none;
}

#root {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1vh;
}

h5, h4{
    font-size: 20px;
}

#vote{
    margin-left: 5px;
    margin-right: 5px;
}

#up{
    cursor: pointer;
}
#upLiked{
    cursor: pointer;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%); 
}

#upDisliked{
    cursor: pointer;
}

#down{
    cursor: pointer;
    margin-right: 10px;
}

#downDisliked{
    cursor: pointer;
    margin-right: 10px;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%); 
}

#downLiked{
    cursor: pointer;
    margin-right: 10px;
}