.btn-outline-primary{
    color: #BB86FC;
    border-color: #BB86FC;
    font-size: 12px;
    font-family: "Rubik";

}
.btn-outline-primary:hover {
    color: #fdf4f7;
    background-color: #3700B3;
    border-color: #3700B3;
}