<div class="container-fluid">

    <div class="row">
        
        <div class="col-3" id="left"></div>

        <div class="row col-6" id="center">
        
        <h1> {{ group.groupName }} </h1>
        <span>
            <a class="btn btn-primary" id="create-btn" (click)="goBack(group.id)"role="button">Go Back to Groups</a>
            <a class="btn btn-primary" id="create-btn" (click)="goToCreatePost(group.id)" role="button"><em class="fa fa-plus"></em> New Post</a>
        </span>
        
        <div class="all-feed">

            <div class="container feed" id="root" *ngFor="let groupPosts of root">
                <div class="row">
                    <p><span>{{ groupPosts.userName }}</span> • {{ groupPosts.dateTime | date:'short':'-1200' }}</p>
                </div>
                <div class="row" style="margin-bottom: 5px;">
                    <h5>{{ groupPosts.title }}</h5>
                    <h6>{{ groupPosts.message }}</h6>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="col" id="follow-post-btn">
                            <app-follow-button-root class="follow btn btn-outline-primary" [id]="groupPosts.id"></app-follow-button-root>
                        </div>
                        <a class="btn btn-outline-primary" routerLink="/comment/{{groupPosts.id}}" role="button"
                            style="margin-right: 5px;">{{
                            (groupPosts.comments).length }} Comments</a>
                        <a class="btn btn-outline-primary" routerLink="/read-root/{{groupPosts.id}}" role="button">Read Story</a>
                        <p style="float: right;">{{ groupPosts.totalVote }} Votes</p>
                    </div>
                </div>
            </div>
    
        </div>
        </div>
        
    <div class="col-3" id="right"></div>
    
    </div>

</div>