<div class="container-fluid">

    <div class="row">
        
        <div class="col-3" id="left"></div>
        <div class="row col-6" id="center">
        <h1> {{ group.groupName }} </h1>
        <a class="btn btn-primary" id="create-btn" (click)="goToCreatePost(group.id)" role="button"><em class="fa fa-plus"></em> New Post</a>
        <p class="Group">

            <mat-card class="example-card" *ngFor="let groupPosts of root">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{groupPosts.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{groupPosts.message}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <!-- <button mat-button class="btn btn-primary"(click)="goToGroup(group.id)" style="max-width: 120px; padding: 10px; align-items: right;" >Join group</button> -->
                </mat-card-actions>
            </mat-card>
    
        </p>
        </div>
        
    <div class="col-3" id="right"></div>
    
    </div>

</div>