#center {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    margin-top: 40px;
}

.btn-primary {
    color: #000;
    background-color: #BB86FC;
    border-color: #BB86FC;
    font-size: small;
}

.btn-primary:hover {
    color: #fdf4f7;
    background-color: #3700B3;
    border-color: #3700B3;
}

.btn-outline-primary {
    color: #000;
    background-color:#E1D309;
    border-color: #E1D309;
}

.btn-outline-primary:hover {
    color: #fdf4f7;
    background-color: #3700B3;
    border-color: #3700B3;
}

.example-card {
    padding: 10px;
    border-radius: 5px;
    margin: 2vh auto;
    width: 650px;
    border: 1px solid #E1D309;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
}