<mat-card class="card">
    <mat-card-title class="card-title">
        <h3>
            Followers
        </h3>
    </mat-card-title>
    <mat-card-content>
        <ul *ngFor="let userFollower of followersList">
            <li class="edit" routerLink="/profile/{{userFollower.userId}}">{{userFollower.followersUserName}}</li>
        </ul>
        <ul *ngIf="(followersList == undefined || followersList.length == 0)">
            <li>No Followers!</li>
        </ul>
    </mat-card-content>
</mat-card>
<!-- <div class="card col box">
    <table aria-describedby="testing">
        <th scope="col">
            <h1 id = "testing">Followers </h1>
        </th>
        <caption hidden>
            The list of people following you.
        </caption>
        <tr *ngFor="let userFollowers of followersList" id="visual">
            <td class="edit" routerLink="/profile/{{userFollowers.userId}}"> {{userFollowers.followersUserName}}</td>
        </tr>
        <tr *ngIf="(followersList== undefined|| followersList.length == 0)">
            <td>No Followers!</td>
        </tr>
    </table>
</div> -->