<mat-card class="card">
    <mat-card-title class="card-title">
        <h3>
            Followers
        </h3>
    </mat-card-title>
    <mat-card-content>
        <ul *ngFor="let userFollowers of followersList">
            <li class="edit" routerLink="/profile/{{userFollowers.userId}}">{{userFollowers.followersUserName}}</li>
        </ul>
        <ul *ngIf="(followersList == undefined || followersList.length == 0)">
            <li>No Followers!</li>
        </ul>
    </mat-card-content>
</mat-card>
