
<div>
    <div class="profilePic" *ngIf="sessionUserName != profileUser.username; else elsepic"> 
    <img class="imgsizer" src={{profileUser.pictureLink}}>
    </div>

    <div>
        <ng-template class="profilePic" #elsepic>
            <img class="imgsizer" src="{{this.currentUser.pictureLink}}">
        </ng-template>
    </div>
    <div>
        <ng-template class="profilePic" #than>
            <img class="imgsizer" src="../../../assets/Profilepic.jpg">
        </ng-template>
    </div>
</div>

<!-- src="{{this.currentUser.pictureLink}}" -->

