<div class="wrapper">
    <div class="container mt-5 d-flex justify-content-center">
        <div class="loginhtml">
            <div class="ml-3 w-100">
            <img class="img center" src="../../assets/apollologowhite.png.png" alt="apollo">
                <button type="button" class="btn btn-primary btn-lg btn1 center"  (click)="Loginfunc()" *ngIf="!(auth.isAuthenticated$ | async)" alt="Login">Log into Apollo</button>
                <button type="button" class="btn btn-primary btn-lg btn2 center"  (click)="Registerfunc()" *ngIf="!(auth.isAuthenticated$ | async)" alt="Register">Create new account</button>
                <button type="button" class="btn btn-primary" (click)="Logoutfunc()"  *ngIf="(auth.isAuthenticated$ | async)" alt="Logout">Logout</button>
            </div>
        </div>
    </div>

</div>

