<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">
<div class="header-container">
    <div class="searchComponent">
        <app-search style="font-family: 'Rubik';"></app-search>
    </div>
    <span>
        <a class="btn btn-primary" id="create-btn" role="button" routerLink="/groups/"> My Groups</a>
        <a class="btn btn-primary" id="create-btn" (click)="goToCreatePost()" role="button"><em class="fa fa-plus"></em> New Post</a>
    </span>
</div>
<h1>Featured Post</h1>
<div class="feature-container">
    <div class="featured-post" id="root">
        <div class="row">
            <p><span (click)="goToUserProfile(featured.userName)">{{ featured.userName }}</span> • {{ featured.dateTime | date:'short':'-1200' }}</p>
        </div>
        <h5>{{ featured.title }}</h5>
        <h6>{{ featured.message }}</h6>
        <a class="btn btn-outline-primary" routerLink="/comment/{{featured.id}}" role="button" style="margin-right: 5px;">{{(featured.comments).length }} Comments</a>
        <a class="btn btn-outline-primary" routerLink="/read-root/{{featured.id}}" role="button"> Read Story</a>

    </div>
</div>
<div class="container-fluid" id="filter-bar">
    <div class="row">
        <div class="col" id="filter-col">
            <button type="button" class="btn btn-outline-light btn-lg" id="filter-btn"
                (click)="sortPopular()"><em class="fa fa-star"></em> Popular</button>
            <button type="button" class="btn btn-outline-light btn-lg" id="filter-btn"
                (click)="sortNewest()"><em
                    class="fa fa-hourglass-start"></em>
                Newest</button>
            <button type="button" class="btn btn-outline-light btn-lg" id="filter-btn"
                (click)="sortOldest()"><em
                    class="fa fa-hourglass-end"></em>
                Oldest</button>
            <button type="button" class="btn btn-outline-light btn-lg" id="filter-btn" (click)="sortGroupPosts()"><em
                    class="fa fa-hourglass-end"></em>
                Groups</button>
        </div>
    </div>
</div>
<div *ngIf="isLoaded == false; else Loaded" class="container text-center">
    <div class="center">
    <img class="spinner-border text-light buffer" src="../../assets/loadingmoon.png" alt="Buffer image"/>
    <p>Loading, please wait...</p>
</div>
</div>
<ng-template #Loaded>

    <div class="all-feed">
        <div class="container feed" id="root" *ngFor="let root of roots">
            <div class="row">
                <p><span (click)="goToUserProfile(root.userName)">{{ root.userName }}</span> • {{ root.dateTime | date:'short':'-1200' }}</p>
            </div>
            <div class="row" style="margin-bottom: 5px;">
                <h5>{{ root.title }}</h5>
                <h6>{{ root.message }}</h6>
            </div>
            <div class="row">
                <div class="col">
                    <div class="col" id="follow-post-btn">
                        <app-follow-button-root class="follow" [id]="root.id"></app-follow-button-root>
                        <app-book-mark-button class="bookmark" [id]="root.id"></app-book-mark-button>
                    </div>
                    <a class="btn btn-outline-primary" routerLink="/comment/{{root.id}}" role="button"
                        style="margin-right: 5px;">{{
                        (root.comments).length }} Comments</a>
                    <a class="btn btn-outline-primary" routerLink="/read-root/{{root.id}}" role="button">Read Story</a>
                    <p style="float: right;">{{ root.totalVote }} Votes</p>
                </div>
            </div>
        </div>
    </div>
</ng-template>

