.card-title{
    /* background-color: #3700B3; */
    /* color: white; */
    padding: 0%;
    /* border: 5px solid #3700B3; */
    border-bottom: 1px solid #E1D309;
}
ul{
    text-align: center;
    list-style-type: none;
    margin: 20px auto;
    padding: 0;
}
.notification-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.notification-name:hover{
    background-color: #bb86FC;
    color: white;
    font-weight: bold;
}
h3{
    font-family: Rubik, sans-serif;
    font-size: 25px;
    padding: 10px;
    letter-spacing: 1px;
}