@import "~@angular/material/theming";
@include mat-core();

$mat-primary-scheme: (
  200: #BB86FC,
  500: #6200EE,
  700: #3700B3,
  contrast: (
    100: rgba(0, 0, 0, 0.87),
    500: #FBFDFE,
    700: #FBFDFE,
  ),
);
$mat-accent-scheme: (
  200: #03DAC5,
  500: hsl(174, 97%, 36%),
  700: #019182,
  contrast: (
    100: rgba(0, 0, 0, 0.87),
    500: rgba(0, 0, 0, 0.87),
    700: #ffffff,
  ),
);
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

.light-mode {
  @include angular-material-theme($app-light-theme);
  // @include mat-form-theme($app-light-theme);
  background-color: #eef2f7;
  >input.toolbar, #tools{
    background-color: #FBFDFE;
    border-bottom: solid 1px #FFD700;
  }
  > input.form-control[type="text"],#root, #comments, #post-title, #exampleFormControlTextarea1, textarea {
    background-color: white;
  }
  > input.featured-post, #post{
    background-color: white;
  }
  >input.container, #root, #comments{
    background-color: white;
    border: .75px solid #FFD700;
  }
  >input.button-13, #custom{
    color: black;
  }
}

$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);

.dark-mode {
  @include angular-material-theme($app-dark-theme);
  // @include mat-form-theme($app-dark-theme);
  background-color: #333;
  color: whitesmoke;
  //dark mode for input in comments and create post
  > input.form-control[type="text"], #post-title, #exampleFormControlTextarea1, textarea{
    background-color: #424242;
    color: whitesmoke;
  }
  //dark mode for the search function
  input.form-control[type="search"]{
    background-color: #424242;
  }
  //dark mode for the display of comments and featured post
  > input.featured-post, #root, #comments,#post{
    background-color: #424242;
  }
  //dark mode for root
  >input.container, #root, #comments{
    background-color: #424242;
    border: .50px solid #BB86FC;
  }

  >input.toolbar, #tools{
    border-bottom: solid 1px #03DAC5;
  }
  >input.button-13, #custom{
    color: whitesmoke;
  }
  >input.btn, #comment-int{
    color: #fdf4f7;
    background-color: #3700B3;
    border-color: #3700B3;
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}
