/*Intentionally blank*/
mat-toolbar{
    height: 100px;
    background-color: #FBFDFE;
    border-bottom: solid 1px #e1d309;
}

.logo{
    margin-right: 20px;
}

.apollo{
    height: auto;
    width: 200px;
}

mat-icon{
    margin: 0 10px;
}

mat-slide-toggle{
    margin: 0 5px;
}
